mixin editEntry(entry)
    form.entry-form(action=`/edit/${entry.id}` method="POST")

        label(for="type") Type
        .entry-form__type
            - const typeChoices = ['Task','Event','Note']

            ul
                each choice in typeChoices
                    li.entry-form__type__choice
                        input(type="radio" name="type" id=choice value=choice)
                        label(for=choice) #{choice}

        label(for="name")
        input(type="text" name="name" value=entry.name)

        
        .entry-form__tags

            label(for="tags") Tags

            - const choices = ['Work', 'Home', 'Family', 'DIY', 'Money']

            ul
                each choice in choices
                    li.entry-form__tags__choice               
                        input(type="checkbox" id="choice" value=choice name="tags")
                        label(for=choice) #{choice}
        
        input(type="submit" value="Add")